<nav
  class="shadow-sm navbar navbar-default navbar-expand-lg navbar-light mb-sm-3"
>
  <div class="navbar-header">
    <a href="#" class="navbar-brand">Segment</a>
  </div>
  <ul class="nav">
    <li class="nav-item"><a class="nav-link" routerLink="/">All Orders</a></li>
    <li class="nav-item"><a class="nav-link" href="/France">France</a></li>
    <li class="nav-item"><a class="nav-link" href="/Germany">Germany</a></li>
    <li class="nav-item">
      <a class="nav-link" href="/Rio De Janeiro">Rio de Janeiro</a>
    </li>
  </ul>
  <div class="flex-grow-1"></div>
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-secondary dropdown-toggle"
      appDropdown
      data-toggle="dropdown"
      data-display="static"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Contant
    </button>
    <div class="dropdown-menu dropdown-menu-lg-right">
      <div class="row text-center">
        <div class="mat-card-title col-md-12">
          <img
            class="rounded-circle shadow border border-dark"
            height="100"
            src="https://scontent.ftlv1-1.fna.fbcdn.net/v/t1.0-9/36808277_10215395273810991_4232966531094413312_n.jpg?_nc_cat=104&ccb=2&_nc_sid=09cbfe&_nc_ohc=d-x5b9uxnZcAX-9xuaQ&_nc_ht=scontent.ftlv1-1.fna&oh=a292cf785e77f8ba33b26dfb5d2929d9&oe=5FD9CE7B"
          />
          <h2>Lidor Cohen</h2>
        </div>
      </div>
      <a class="dropdown-item" href="https://www.linkedin.com/in/LidorCohen145"
        >LinkedIn</a
      >
      <a class="dropdown-item" href="mailto:Lidorc145@gmail.com">Email</a>
      <a class="dropdown-item disabled">058-7085000</a>
    </div>
  </div>
</nav>
